github-classroom[bot] <66690702+github-classroom[bot]@users.noreply.github.com>
Bryan Molina <molinalopez051@gmail.com>
Kendall Madrigal <kendallmacampos2941@estudiantec.cr>
Alexandra Alfaro <alfaroelizondoalexandra@gmail.com>
Alexandra Alfaro <125613116+LexieVaneska@users.noreply.github.com>
Kendall Madrigal <128347761+Kendarooo@users.noreply.github.com>
Pablo Alvarado <palvaradomoya@gmail.com>
